.jumbotron{
      background-color: grey;
}

#colContainer{
    padding: 20px;
}

#table-div{
 margin-top: 100px;
}
 .table {
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
    float: none;
}
    .td{

        font-size: 1.5em;
        margin: 2px;
        padding: 6px;
        vertical-align: middle;
    }